
@{
    ViewBag.Title = "NotCredential";
    Layout = null;
}


<head>
    <style>
        .centered-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

            .centered-content h2 {
                font-size: 45px;
                color: red;
            }

            .centered-content p {
                font-size: 20px;
            }
    </style>
    <script>
        window.onload = function () {
            var countDown = 5; // Số giây đếm ngược
            var timer = setInterval(function () {
                countDown--;
                document.getElementById("countdown").innerHTML = countDown;

                if (countDown <= 0) {
                    clearInterval(timer);
                    history.back(); // Quay trở lại trang trước đó
                }
            }, 1000); // Đếm ngược mỗi 1 giây (1000ms)
        };
    </script>
</head>
<body>
    <div class="container">
        <div class="centered-content">
            
            <h2>Not Credential</h2>
            <p>Bạn không được quyền truy cập, vui lòng liên hệ quản trị viên</p>
            <p>Sẽ quay trở lại trang trước sau <span id="countdown">5</span> giây.</p>
        </div>
    </div>
</body>