.add-new-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-bottom: 10px;
}


    .add-new-link a {
        display: inline-block;
        padding: 5px;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

        .add-new-link a:hover {
            background-color: #45a049;
        }

.container {
    display: flex;
    justify-content: space-between;
}

.search, .add-new {
    flex-basis: 50%;
}

.add-new {
    text-align: right;
}
