
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div style="height:51vh;
"><h2>Thanh toán thành công</h2>
  <p> <a href="@Url.Action("Index","Home")" class="btn btn-primary"> <i class="fa fa-chevron"></i>Tiếp tục mua hàng </a> </p>
    </div>

<style>
    h2 {
        font-size: 36px;
        color: #4CAF50;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
    p {
       
        text-align: center;
        margin-bottom: 30px;
    }
</style>


