@model WebsiteBanHang.Context.News
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content bg-white padding-y">
    <div class="container" style="margin-bottom:300px">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Content/images/items/@Model.Avatar"></a></div>
                        </div> <!-- slider-product.// -->

                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <div class="col-md-6">
                <div class="product-info-aside">

                    <h2 class="title mt-3">@Model.Title</h2>





                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="title-description"></h5>
                            @Model.Description
                        </div>
                    </div>
                    <br /> 
                    <div class="row">
                        <div class="col-md-8">
                            <div class="title-description"><h6>Người đăng:@Model.Author</h6> </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="title-description"><h6>Ngày đăng:@Model.CreatedDate</h6> </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



