USE [master]
GO
/****** Object:  Database [WebsiteBanHang]    Script Date: 8/11/2023 2:03:40 PM ******/
CREATE DATABASE [WebsiteBanHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebsiteBanHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebsiteBanHang.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebsiteBanHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebsiteBanHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebsiteBanHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebsiteBanHang]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Avatar] [varchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[ShowOnHomePage] [bit] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nchar](100) NULL,
	[Slug] [varchar](100) NULL,
	[ShowOnHomePage] [bit] NULL,
	[Deleted] [bit] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[ID] [int] NOT NULL,
	[GroupId] [int] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Avatar] [nvarchar](50) NULL,
	[LoginName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[GroupId] [int] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Avatar] [nvarchar](50) NULL,
	[Description] [nvarchar](4000) NULL,
	[Author] [nvarchar](50) NULL,
	[CreatedDate] [date] NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[Status] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[ShipName] [nvarchar](50) NULL,
	[ShipMobile] [nvarchar](50) NULL,
	[ShipAddress] [nvarchar](50) NULL,
	[ShipEmail] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Avatar] [nchar](100) NULL,
	[CategoryId] [int] NULL,
	[ShortDes] [nvarchar](100) NULL,
	[FullDescription] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[PriceDiscount] [float] NULL,
	[TypeId] [int] NULL,
	[Slug] [varchar](50) NULL,
	[BrandId] [int] NULL,
	[Deleted] [bit] NULL,
	[ShowOnHomePage] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[GroupName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/11/2023 2:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name], [Avatar], [Slug], [ShowOnHomePage], [CreatedOnUtc], [UpdatedOnUtc], [Deleted]) VALUES (1, N'Apple', NULL, N'apple', 1, NULL, NULL, 0)
INSERT [dbo].[Brand] ([ID], [Name], [Avatar], [Slug], [ShowOnHomePage], [CreatedOnUtc], [UpdatedOnUtc], [Deleted]) VALUES (2, N'Samsung', NULL, N'samsung', 1, NULL, NULL, 0)
INSERT [dbo].[Brand] ([ID], [Name], [Avatar], [Slug], [ShowOnHomePage], [CreatedOnUtc], [UpdatedOnUtc], [Deleted]) VALUES (3, N'Xiaomi', NULL, N'xiaomi', 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Avatar], [Slug], [ShowOnHomePage], [Deleted], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (2, N'Máy tính ', N'maytinh.jpg                                                                                         ', N'may-tinh', 1, 0, NULL, NULL)
INSERT [dbo].[Category] ([ID], [Name], [Avatar], [Slug], [ShowOnHomePage], [Deleted], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (3, N'Máy tính bảng', N'maytinhbang.jpg                                                                                     ', N'may-tinh-bang', 1, 0, NULL, NULL)
INSERT [dbo].[Category] ([ID], [Name], [Avatar], [Slug], [ShowOnHomePage], [Deleted], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (7, N'Điện thoại', N'iphone.jpg                                                                                          ', N'dien-thoai', 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Credential] ([ID], [GroupId], [RoleId]) VALUES (1, 10, 10)
INSERT [dbo].[Credential] ([ID], [GroupId], [RoleId]) VALUES (2, 20, 20)
GO
INSERT [dbo].[Group] ([ID], [Name]) VALUES (10, N'Quản trị viên')
INSERT [dbo].[Group] ([ID], [Name]) VALUES (20, N'Thành viên')
INSERT [dbo].[Group] ([ID], [Name]) VALUES (30, N'Checker')
GO
INSERT [dbo].[Member] ([ID], [Name], [Avatar], [LoginName], [Password], [CreatedDate], [Status], [GroupId]) VALUES (0, N'Hữu Luân', N'luan.jpg', N'luan@gmail.com', N'202cb962ac59075b964b07152d234b70', CAST(N'2023-02-02T00:00:00.000' AS DateTime), NULL, 20)
INSERT [dbo].[Member] ([ID], [Name], [Avatar], [LoginName], [Password], [CreatedDate], [Status], [GroupId]) VALUES (1, N'Nguyễn Tấn Đạt', N'tandat.jpg', N'tandat@gmail.com', N'202cb962ac59075b964b07152d234b70', CAST(N'2023-02-03T00:00:00.000' AS DateTime), NULL, 10)
INSERT [dbo].[Member] ([ID], [Name], [Avatar], [LoginName], [Password], [CreatedDate], [Status], [GroupId]) VALUES (2, N'Lâm Đù', N'lamdu.jpg', N'lamdu@gmail.com', N'202cb962ac59075b964b07152d234b70', CAST(N'2023-02-02T00:00:00.000' AS DateTime), NULL, 20)
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([ID], [Title], [Avatar], [Description], [Author], [CreatedDate]) VALUES (1, N'Elon musk và anh Facebook', N'musk zac.jpg', N'Threads, mạng xã hội đối đầu Elon Musk của Mark Zuckerberg, được ví như kỳ quan tại Meta khi hình thành chỉ trong 7 tháng bởi nhóm 60 người.  Khi đang đi nghỉ cùng gia đình ở Italy vào tháng 11/2022, Adam Mosseri nhận lệnh họp từ xa với ban lãnh đạo Meta để làm gì đó cạnh tranh trực tiếp với Elon Musk, người vừa tiếp quản Twitter được vài tuần.', N'Khương', CAST(N'2023-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Name], [UserId], [Status], [CreatedOnUtc], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail]) VALUES (26, N'DonHang-20230630130319', 1, 1, CAST(N'2023-06-30T13:03:19.220' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([ID], [Name], [UserId], [Status], [CreatedOnUtc], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail]) VALUES (27, N'DonHang-20230630130623', 1, 1, CAST(N'2023-06-30T13:06:23.293' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([ID], [Name], [UserId], [Status], [CreatedOnUtc], [ShipName], [ShipMobile], [ShipAddress], [ShipEmail]) VALUES (28, N'DonHang-20230630131820', 1, 1, CAST(N'2023-06-30T13:18:20.750' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderId], [ProductId], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[OrderDetail] ([ID], [OrderId], [ProductId], [Quantity]) VALUES (2, 2, 1, 1)
INSERT [dbo].[OrderDetail] ([ID], [OrderId], [ProductId], [Quantity]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Role] ([Id], [Code], [Name], [GroupName]) VALUES (10, N'view-add-edit-delete', N'xem/thêm/sửa/xóa', N'Sản phẩm')
INSERT [dbo].[Role] ([Id], [Code], [Name], [GroupName]) VALUES (20, N'view', N'xem', N'Sản phẩm')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (1, N'Huu', N'Luan', N'luan@gmail.com', N'202cb962ac59075b964b07152d234b70', NULL)
INSERT [dbo].[User] ([ID], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (7, N'Tan', N'Dat', N'dat@gmail.com', N'202cb962ac59075b964b07152d234b70', NULL)
INSERT [dbo].[User] ([ID], [FirstName], [LastName], [Email], [Password], [IsAdmin]) VALUES (11, N'qwe', N'qwe', N'qweqwe@gmail.com', N'202cb962ac59075b964b07152d234b70', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Giảm giá sốc 2:Đề xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Product', @level2type=N'COLUMN',@level2name=N'TypeId'
GO
USE [master]
GO
